<div class="container mt-3">
    <div class="row bg-secondary">
        <div class="col-sm">Id</div>
        <div class="col-sm">Conta</div>
        <div class="col-sm">Número parcela</div>
        <div class="col-sm">Parcela</div>
        <div class="col-sm">vencimento</div>
        <div class="col-sm">valorPago</div>
        <div class="col-sm">Status</div>
        <div class="col-sm">atividade</div>
    </div>
    <% for(var i=0; i < contas.length;i++){ 
        var id = contas[i]["id"]
        var status = contas[i]["status"]
        var valor = "R$ "+contas[i]["valorparcela"].toFixed(2).replace(".",",")
        var valorpago = 0.00
        if(contas[i]["valorpago"]){
            valorpago = "R$ "+contas[i]["valorpago"].toFixed(2).replace(".",",")
        }
        var vencimento = format.asString('dd/MM/yyyy',contas[i]["vencimento"])
    %>
        <div class="row">
            <div class="col-sm">
                <%= id %>
            </div>
            <div class="col-sm">
                <%= contas[i]["nome"]%>
            </div>
            <div class="col-sm">
                <%= contas[i]["numeroparcela"]%>
            </div>
            <div class="col-sm">
                <%= valor %>
            </div>
            <div class="col-sm">
                <%= vencimento %>
            </div>
            <div class="col-sm">
                <%= valorpago %>
            </div>
            <div class="col-sm">
                <%= contas[i]["status"]%>
            </div>
            <div class="col-sm">
                <% if (status == 'N') { %>
                    <a href="/conta/atualizar/pagar/<%- id %>">pagar</a>
                    <% } else { %>
                        Pago
                        <% } %>
            </div>
        </div>
        <%  } %>
</div>