<div class="container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <% 
        var active2 = '';
        for(var tab=0; tab < dados.length;tab++){   
        %>
            <% var id_tab = dados[tab].id %>
            <% var mes_tab = dados[tab].mes %>
            <% 
            (tab == 0)?active2 = 'active':active2= ''
            %>
            <li class="nav-item">
                    <a class="nav-link <%= active%>" id="<%= id_tab %>-tab" data-toggle="tab" href="#<%= id_tab%>" role="tab" aria-controls="1" aria-selected="true"><%= mes_tab%></a>
            </li>
        <% } %>
    </ul>
</div>
<div class="tab-content" id="nav-tabContent">
    <% 
        var active = "active show"        
        for(var i=0; i < dados.length;i++){
	    var valor = "R$ "+dados[i].valor.toFixed(2).replace(".",",")
            var contas = dados[i].desc
            var st = false;
            var id = dados[i].id;
            (i == 0)?active = "active show":active = ""
    %>            
        <div class="tab-pane fade <%= active %>" id="<%= id %>" role="tabpanel" aria-labelledby="<%= id %>-tab">
            <div>
                <table class="table table-striped">
                <thead>
                    <th scope="col">Conta</th>
                    <th scope="col">Valor</th>
                </thead>
                <tbody>                    
                    <% for(var c=0; c < contas.length;c++){  %>
                        <% (contas[c].status == 'S')? st = true:false%>
                       <tr>
                           <td><%= contas[c].nome %></td>
                           <td><%= "R$ "+contas[c].parcela.toFixed(2).replace(".",",") %></td>
                       </tr>                         
                    <% } %>
                </tbody>
                <tfoot>
                    <%
                    var color = "white";
                     (st)?color = "green":color = "#EC7063" 
                     %>
                    <tr style="background-color:<%= color %>" >
                        <td>Valor total Mês</td>
                        <td><%= valor %></td>
                    </tr>
                </tfoot>
                </table>
            </div>
        </div>
    <%
    
        }
    %>
</div>